.App {
  text-align: center;
  background-color: #68a7c5;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color:#68a7c5;
}

.App-intro {
  font-size: large;
  color:#2e3644;
}
/* top of app with flexbox*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: white !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
